.navbar-container {
  display: flex;
  justify-content: center;
}

.navbar {
  width: auto;
  margin: 1rem;
  padding: 1rem;
}

a {
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 5px;
}

.navbar-list ul {
  margin: 0px !important;
}
